[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true  # Enable Foreign Function Interface

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
